.img_wrp {
    /* display: inline-block; */
    position: relative;
}

.iange {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
}