<div class="bg">
    <div class="login-wrap">
        <div class="login-html">
            <div class="row ">
                <div class="col-md-12 text-center">
                    <img [src]="imagePath" style="width:400px;margin-bottom: 1px;" />
                    <label style="color: white;">ส่วนบริหารบัญชีและงบประมาณ</label>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12" style="margin-top: -20px;">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
                    <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab"></label>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <div class="group">
                                <label for="user" class="label">รหัสเจ้าหน้าที่</label>
                                <input type="text" class="input" [(ngModel)]="username">
                            </div>
                            <div class="group">
                                <label class="label">รหัสผ่าน</label>
                                <input type="password" class="input" [(ngModel)]="password" (keyup.enter)="login()">
                            </div>
                            <div class="group">
                                <button type="button" (click)="login()" class="button">เข้าสู่ระบบ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <p>Username or password is incorrect.</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>


<modal-alert #errorModal [body]="bodyModal">
</modal-alert>