/* .searchformfld {
    position: relative;
    margin: 5px 0px;
    color: #000;
}

.searchformfld label {
    position: absolute;
    padding-left: 4px;
    top: 22px;
    cursor: text;
    font-size: 14px;
}

.searchformfld input:focus+label,
.searchformfld input:not(:placeholder-shown)+label {
    opacity: 20;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    color: #000;
    ;
}

.searchformfld input:focus {
    border: 1px solid#0A5673;
    outline-color: #000;
}

.searchformfld {
    padding: 15px;
    margin: 15px 0px;
}

.searchformfld input {
    width: 100%;
    padding-left: 10px;
}



.searchformfld label,
.searchformfld input {
    transition: all 0.5s;
    background-color: #fff;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.3;
} */


/* <----------------------------------------------> */

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
    transition: all 0.5s;
    top: 1px;
    bottom: 23px;
    left: 50px;
    font-size: 15px;
    opacity: 2;
    transform: scale(0.9) translateY(-100%) translateX(-10px);
    background-color: #fff;
}

.inputText {
    font-size: 13px;
    border-radius: 4px !important;
    height: 38px;
    box-shadow: none;
}

.floating-label {
    font-size: 13px;
    position: absolute;
    z-index: 99;
    left: 49px;
    top: 8px;
    color: #606263;
    transition: 0.5s ease;
    border-radius: 5px 5px 0px 0px;
}

.searchformfld input {
    transition: all 0.5s;
    background-color: #fff;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.3;
}

::-webkit-input-placeholder {
    font-size: 12px;
}

.textinputSet {
    border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:before {
    top: 0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position: absolute;
    right: 0;
    font-family: monospace;
    /* line-height: */
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom: 0px;
    -webkit-transform: rotate(180deg);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}