<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="card">
    <div class="card-body">

        <table class="table table-striped table-sm table-bordered ">
            <thead>
                <tr class="text-center">
                    <th rowspan="2">เดือน</th>
                    <th colspan="2">ภาษีสถานบริการเฉพาะให้ความบันเทิง</th>
                    <th rowspan="2">ผลต่าง</th>
                    <th colspan="2">ชดเชยกรมศุล</th>
                    <th rowspan="2">ผลต่าง</th>
                    <th colspan="2">ค่าพิมพ์แสตมป์</th>
                    <th rowspan="2">ผลต่าง</th>
                </tr>
                <tr class="text-center">
                    <th>แยกประเภท</th>
                    <th>ระบบงานรายได้</th>
                    <th>แยกประเภท</th>
                    <th>ระบบงานรายได้</th>
                    <th>แยกประเภท</th>
                    <th>ระบบงานรายได้</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center">ตค.61</td>
                    <td class="text-right">-43,356.00</td>
                    <td class="text-right">43,355.73</td>
                    <td class="text-right" style="color: red;">-0.27</td>
                    <td class="text-right">743.00</td>
                    <td class="text-right">743.28</td>
                    <td class="text-right" style="color: red;">-0.28</td>
                    <td class="text-right">816.00</td>
                    <td class="text-right">817.69</td>
                    <td class="text-right" style="color: red;">-1.69</td>
                </tr>
                <tr>
                    <td class="text-center">พย.61</td>
                    <td class="text-right">-13,265.00</td>
                    <td class="text-right">13,265.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">607.00</td>
                    <td class="text-right">604.00</td>
                    <td class="text-right" style="color: red;">2.08</td>
                    <td class="text-right">770.00</td>
                    <td class="text-right">770.40</td>
                    <td class="text-right" style="color: red;">-1.69</td>
                </tr>
                <tr>
                    <td class="text-center">ธค.61</td>
                    <td class="text-right">-20,747.00</td>
                    <td class="text-right">20,747.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">513.00</td>
                    <td class="text-right">513.76</td>
                    <td class="text-right" style="color: red;">-0.76</td>
                    <td class="text-right">711.00</td>
                    <td class="text-right">711.21</td>
                    <td class="text-right" style="color: red;">-0.40</td>
                </tr>
                <tr>
                    <td class="text-center">มค.62</td>
                    <td class="text-right">-19,417.00</td>
                    <td class="text-right">19,417.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">519.00</td>
                    <td class="text-right">591.58</td>
                    <td class="text-right" style="color: red;">-1.27</td>
                    <td class="text-right">764.40</td>
                    <td class="text-right">764.40</td>
                    <td class="text-right" style="color: red;">-0.21</td>
                </tr>
                <tr>
                    <td class="text-center">กพ.62</td>
                    <td class="text-right">-20,436.00</td>
                    <td class="text-right">20,436.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">529.00</td>
                    <td class="text-right">519.58</td>
                    <td class="text-right" style="color: red;">-0.58</td>
                    <td class="text-right">640.00</td>
                    <td class="text-right">750.00</td>
                    <td class="text-right" style="color: red;">-0.40</td>
                </tr>
                <tr>
                    <td class="text-center">มีค.61</td>
                    <td class="text-right">-17,200.00</td>
                    <td class="text-right">17,200.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">428.00</td>
                    <td class="text-right">426.85</td>
                    <td class="text-right" style="color: red;">1.15</td>
                    <td class="text-right">879.00</td>
                    <td class="text-right">658.48</td>
                    <td class="text-right" style="color: red;">0.83</td>
                </tr>
                <tr>
                    <td class="text-center">เมย.62</td>
                    <td class="text-right">-21,150.00</td>
                    <td class="text-right">21,150.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">571.00</td>
                    <td class="text-right">570.42</td>
                    <td class="text-right" style="color: red;">0.58</td>
                    <td class="text-right">713.00</td>
                    <td class="text-right">640.22</td>
                    <td class="text-right" style="color: red;">0.22</td>
                </tr>
                <tr>
                    <td class="text-center">พค.61</td>
                    <td class="text-right">-14,957.00</td>
                    <td class="text-right">14,957.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">508.00</td>
                    <td class="text-right">507.45</td>
                    <td class="text-right" style="color: red;">0.55</td>
                    <td class="text-right">840.00</td>
                    <td class="text-right">714.21</td>
                    <td class="text-right" style="color: red;">-1.21</td>
                </tr>
                <tr>
                    <td class="text-center">มิย.62</td>
                    <td class="text-right">-13,202.00</td>
                    <td class="text-right">13,202.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">490.00</td>
                    <td class="text-right">488.58</td>
                    <td class="text-right" style="color: red;">1.42</td>
                    <td class="text-right">836.00</td>
                    <td class="text-right">840.00</td>
                    <td class="text-right" style="color: red;">-0.87</td>
                </tr>
                <tr>
                    <td class="text-center">กค.62</td>
                    <td class="text-right">-20,747.00</td>
                    <td class="text-right">20,747.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">513.00</td>
                    <td class="text-right">513.76</td>
                    <td class="text-right" style="color: red;">-0.76</td>
                    <td class="text-right">711.00</td>
                    <td class="text-right">711.21</td>
                    <td class="text-right" style="color: red;">-0.40</td>
                </tr>
                <tr>
                    <td class="text-center">สค.62</td>
                    <td class="text-right">-17,200.00</td>
                    <td class="text-right">17,200.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">428.00</td>
                    <td class="text-right">426.85</td>
                    <td class="text-right" style="color: red;">1.15</td>
                    <td class="text-right">879.00</td>
                    <td class="text-right">658.48</td>
                    <td class="text-right" style="color: red;">0.83</td>
                </tr>
                <tr>
                    <td class="text-center">กย.62</td>
                    <td class="text-right">-11,996.00</td>
                    <td class="text-right">11,996.00</td>
                    <td class="text-right" style="color: red;">0.00</td>
                    <td class="text-right">499.00</td>
                    <td class="text-right">499.91</td>
                    <td class="text-right" style="color: red;">-0.91</td>
                    <td class="text-right">640.00</td>
                    <td class="text-right">879.83</td>
                    <td class="text-right" style="color: red;">-0.48</td>
                </tr>
                <tr>
                    <td class="text-center">รวม</td>
                    <td class="text-right">-234,048.00</td>
                    <td class="text-right">234,047.73</td>
                    <td class="text-right" style="color: red;">-0.27</td>
                    <td class="text-right">6,567.00</td>
                    <td class="text-right">6,563.67ß</td>
                    <td class="text-right" style="color: red;">3.33</td>
                    <td class="text-right">9,214.00</td>
                    <td class="text-right">9,219.38</td>
                    <td class="text-right" style="color: red;">-5.38</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>