<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col text-center" style="margin-top: 12px; margin-bottom: 12px;">
                <div class="row">
                    <div class="col-4  text-right mr-2">
                        <img src="./../../../assets/img/1688988.png" style="    width: 22%;">
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <span class="caret mr-4">
                                <b style="font-size:20px">{{textHeader}}</b>
                            </span>
                        </div>
                        <div class="row">
                            <span class="caret mr-4" style="color: #5A5E5F;">วันที่ {{date}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>